@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-primary {
    background-color: rgb(255, 0, 0);
}
.text-primary {
    color: rgb(255, 0, 0);
}

.text-secondary {
    color:rgb(7, 2, 17)
}
.banner {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 50px;
}

.banner-content {
    padding: 175px 340px;
}

.banner-content h4 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.banner-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center; 
    margin-top: 16px;
}

.catagories {
    max-width: 800px;
    margin: 120px auto;
}

.catagories .catagori-offer {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
}

.catagories .catagori-subtitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-top: 48px;
}

.catagories .catagori-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-top: 16px;
}

.catagories .catagori-image {
    width: 100%;
    margin-top: 48px;
}

.catagories .catagori-image img {
    width: 100%;
    object-fit: cover;
}

.midnight-party {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url(../images/Vectorrr.png);
}

.party-container {
    padding: 0 144px 0 108px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.party-content .party-title {
    max-width: 642px;
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    text-align: left;
}

.party-content .party-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-top: 24px;
}

.party-content button {
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    margin-top: 48px;
    padding-left: 32px;
}

.party-image {
    width: 350px;
    padding: 66px 0;
}

.party-image img {
    width: 100%;
}

.schedule {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin-top: 120px;
}

.schedule-content {
    padding: 100px 385px 110px 385px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.schedule-content .place,.date,.time {
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize; 
}

.schedule-content .place span,.date span,.time span {
    color: rgb(255, 0, 0);
}

.join-btn {
    display: flex;
    justify-content: center;
}

.join-btn button {
    padding: 16px 32px;
    background: rgb(255, 0, 0);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: Inter;
    border: none;
    border-radius: 8px;
    margin-top: 64px;
}

/* best offer */
.best-offer {
    max-width: 1320px;
    margin: 120px auto;
    display: flex;
    justify-content: space-between; 
}

.best-offer-content {
    width: 393px;
    padding: 104px 0;
}
.best-offer-content h4 {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.best-offer-content h3 {
    font-family: Merriweather;
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 16px;
}

.best-offer-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 22px;
}
.best-offer-image-wrap {
    width: 463px;
    height: 463px;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-offer-image {
    width: 364px;
    height: 364px;
}

.best-offer-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.new-year {
    padding-top: 112px;
}
.new-year-content {
    width: 276px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.new-year-content h4 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.new-year-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-top: 16px;
}

.new-year-image {
    width: 140px;
    height: 140px;
    margin-top: 43px;
}
.new-year img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* function section */
.functional {
    max-width: 1320px;
    margin: 0 auto;
    position: relative;
}
.functional-content {
    width: 1068px;
    margin: 0 auto;
}

.functional-content h4 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.functional-content h2 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
}

.functional-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 28px;
}

.box-image-or-discount-image-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}
.box-img {
    width: 674px;
    height: 575px;
    margin-bottom: -100px;
    margin-left: 100px;
    z-index: 1;
}
.box-img img {
    width: 100%;
    object-fit: cover;
}

.discount-image {
    width: 220px;
    height: 220px;
}

.discount-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Gift section */
.gift-section {
    max-width: 1320px;
    margin: 0 auto;
    margin-top: 120px;
}

.gift-section .subtitle {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.gift-section .title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
}

.gift-section .description {
    max-width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 22px;
}

.gift-image-wrapper {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gift-image-wrapper .gift-image {
    width: 424px;
    height: 450px;
}
.gift-image-wrapper .gift-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Newsletter section */
.newsletter {
    max-width: 1320px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
    padding: 80px 212px;
}
.newsletter-content {
    width: 896px;
}
.mail-image {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 0 auto;
}

.newsletter-content h2 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 40px;
}

.newsletter-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    margin-top: 22px;
}

.submition-btn {
    max-width: 648px;
    margin: 0 auto;
    margin-top: 48px;
    display: flex;
    border-radius: 50px;
}

.submition-btn input {
    width: 100%;
    padding: 25px 30px;
    outline: none;
    border: none;
    border-radius: 50px 0 0 50px;
}

.submition-btn button {
    padding: 24px 56px;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; 
    text-align: center;
    text-transform: capitalize;
    border: none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
}

.footer-section {
    background: #070211
}

.footer-wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 120px 140px;
}
.footer-content {
    max-width: 1185px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #2c2835;
    padding-bottom: 50px;
}
.footer-address {
    color:#fff;
    font-size: 24px;
    line-height: 32px;
    font-family: Inter;
}
.footer-called {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-called span,.footer-website span {
    color: #fff;
    font-size: 24px;
}

.footer-website {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
    border-bottom: 1px solid #2c2835;
    padding-bottom: 48px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.copyright p {
    color: #fff;
    font-size: 24px;
    font-family: Inter;
}